body {
  background: black;
  color: #00ff9c;
  font-family: monospace;
  padding: 40px;
}

textarea {
  width: 100%;
  height: 100px;
  background: black;
  color: #00ff9c;
  border: 1px solid #00ff9c;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #00ff9c;
  color: black;
  border: none;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  font-size: 24px;
}
